body{
    background:#B9B5B5;
  }
  button{
    font-size:20px;
    border-radius:20%;
    border-style:solid;
  }
  #selectAll{
    background:#20B2AA;
  }
  #getTrick{
    background:#00FA9A;
  }
  #byes{
    background:#3CB371;
  }
  #bno{
    background:#FF4500;
  }
  #attempts{
    font-size:20px;
    width:25%;
    background:#E8DFDF;
  }
  #trick{
    font-size:40px;
  }
  .displayClass{
    display:inline-block;
  }
  .hide{
    display:none;
  }
  #results{
    font-size:40px;
  }
  .red{
    color:#8B0000;
  }
  .green{
    color:#006400;
  }
  #thatsAll,#marathonEnd{
    color:#0000FF;
    font-size:30px;
  }
  #seeList,#seeMList{
    color:#0000FF;
  }
